name: Deploy Gitea (Docker Swarm)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Gitea Stack
        run: |
          docker stack deploy -c gitea-stack.yml gitea
